body {
    background: #dfdfdf;
}

p {
    color: rgb(34, 34,34);
}

.foto {
    width: 200px;
    border: 2px solid gray; /* shorthand */
    border-radius: 50%;
    margin-top: 25px; /*alt + shift + a para comentar uma serie de linhas*/
    margin-left: 500px;
    /*margin: 30px 30px 30px 30px; shorthand (top right bottom left), se todos os valores forem iguais é possível deixar apenas 1 valor*/
    margin: 30px;
    /* padding: 10px; deixa o espaçamento interno*/
}
